#home.banner-area .row.fullscreen.d-flex.align-items-center {
    min-height: 445px;
    max-height: 610px;
}

.banner-area {
    margin-top: 160px;
}

.header-top .menu-top-right span {
    padding: 13px;
}

.header-top .menu-top-right span.fa-whatsapp {
    background-color: #25d366;
    top: -2px;
    position: relative;
}

.booking-left p {
    color: #d5caca;
}

.single-footer-widget a:active,
.single-footer-widget a {
    color: #222222;
}

.logo-img-header {
    max-height: 90px;
}

.single-review img {
    border-radius: 50%;
}

.footer-area .footer-bottom .footer-social a {
    padding: 15px 16px 6px 12px;
}